#### (1) Tuples are collection of ordered elements i.e. the elements can be accessed index wise
##### Characteristics-
##### Elements in tuples are enclosed by paranthesis ()
##### Tuples are immutable
##### Tuples are indexed
##### Tuples are ordered
##### Tuples can contain duplicate elements
##### Tuples can contain int, float, complex, str, bool, list, tuple, set, dictionary etc.

#### Yes, tuples are immutable. We can't change the elements inside tuples. If we do so, the error is- tuple obj doesn't support item assignment.

#### (2) The two tuple methods are-
##### 1- count()
##### 2- index()

#### Example-

In [1]:
# count() method-
tuple1= (1,2,3,"name",[4,5,"abc"],True,2,3)
tuple1.count(True)

2

In [2]:
# True occurs once but o/p is 2 because 1 is considered as True too!

In [3]:
# index() method-
tuple1.index(True)

0

In [4]:
#True is at index 5 but we get o/p as 0 index because 1 is considered as True too!

In [5]:
tuple1.index(2)

1

#### Tuples have only 2 built-in methods as compared to lists because Tuples are immutable. So all the methods like  append(), clear(), copy(), extend(), insert(), pop(), remove(), reverse(), sort() can't be applied on tuples as we can't change the elements inside tuples.

#### (3) Set is the data type in python that doesn't allow duplicate items. Set holds unique elements.

In [6]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [9]:
s1= set(List)  # set typecasting is done to remove duplicates from list
print(s1)

{1, 2, 3, 4}

In [10]:
print(list(s1)) # this is the final list after removing the duplicates

[1, 2, 3, 4]

#### (4) Difference between union() and update() method-

##### union()- This method is used to return the union of a set with the set of elements from one or more iterable like string, list, set. In this method one or more iterable can be passed as argument. If iterable other than set is passed, it first converts the iterable object to set object and then perform the union operation. It returns a newly created set, which contains all the dictinct elements present in all the iterables.

##### update()- This method is used to return the union of a set with the set of elements from one or more iterable like string, list, set. It is very similar to union() method, but difference is that- union() method creates and returns a new set containing all the distinct elements present in all the iterables but update() method updates the existing set on which this method is called with all the distinct elements present in all the iterables.

In [21]:
# Example of union()-

A= {1,2,3}
B= {1,3,5,7,9}
C= [5,10,15,20]
A.union(B,C)  # Returns a new set

{1, 2, 3, 5, 7, 9, 10, 15, 20}

In [16]:
# Example of update()-

A.update(B,C)

In [20]:
A # gets updated in the existing set A

{1, 2, 3, 5, 7, 9, 10, 15, 20}

#### (5) Dictionary is collection of ordered key:value pairs. We can access the values inside dictionary by giving the key names. Keys cannot be repeated in dictionary, if repeated it gets updated. Values can be string,int,float,bool,list,tuple,set,dict etc. Keys can be int,float,bool,string,tuple but can't be special character,list,set,dict.
#### As of python ver 3.7 dictionaries are ordered.
##### Example-

In [23]:
d1= {"course_name":["data science masters","web dev","JDS"],"start_date":(28,14,21),"name":"Bhavna"}
print(d1)

{'course_name': ['data science masters', 'web dev', 'JDS'], 'start_date': (28, 14, 21), 'name': 'Bhavna'}

#### (6) We can create nested dictionaries. 
##### Example of one level nested dictionary-

In [24]:
d2= {"key1":{"my_name":"Bhavna","email_id":"dorabhavna@gmail.com","number":2345678},"key2":"data science masters"}
print(d2)

{'key1': {'my_name': 'Bhavna', 'email_id': 'dorabhavna@gmail.com', 'number': 2345678}, 'key2': 'data science masters'}

#### (7)

In [28]:
dict1={"language":"Python","course":"Data Science Masters"}
dict1.setdefault("topics",["Python", "Machine Learning", "Deep Learning"])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

#### (8) The 3 view objects in dictionary are-
##### keys
##### values
##### items

##### These 3 view objects can be obtained using 3 in-built methods. Keys can be obtained calling the method keys(), values can be obtained calling the method values(), items can be obtained calling the method items().

In [29]:
dict1 = {"Sport": "Cricket" , "Teams": ["India", "Australia", "England", "South Africa", "Sri Lanka", "New Zealand"]}
print(dict1.keys())  #returns all keys in the dict1
print(dict1.values()) #returns all values in dict1
print(dict1.items())  #returns all items in dict1

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])